@charset "ISO-8859-1";
@import url("variables.css");

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #363636;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--scrollbar-gradiant-1) 0%, var(--scrollbar-gradiant-2) 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

body, .modal-card-body {
	background-color: var(--bg-color)!important;
	min-height: 100vh
}

#navbar, .navbar-dropdown {
	background-color: var(--navbar-color)!important;
}
.navbar-image{
	padding: 0.5rem;
}

.navbar-item {
	color: white!important;
}

.navbar-item:hover {
	background-color: var(--side-menu-color)!important;
}

#side-menu {
	background-color: var(--side-menu-color)!important;
}

.box, .card, .card-footer, .card-content, .modal-card-head {
	background-color: var(--box-color)!important;
}

.tabs li a{
	border-bottom-color: var(--navbar-color);
}

.panel-block{
	border-bottom-color: var(--navbar-color)!important;
}

.room-panel-block:not(:first-child):hover{
	background-color: var(--box-color)!important;
}

.footer {
	background-color: var(--box-color)!important;
}

.main-content{
	margin-bottom: 0px!important;
}

input[type="text"] {
	background-color: var(--bg-color);
}


.is-hover-up:hover {
	transfom: translate(0,-5px);
}

.is-hover-darker:hover {
	filter: brightness(85%);
}

.is-clickable {
	cursor: pointer;
}

.has-background-discord {
	background-color: var(--bg-color)!important;
}

.has-border-danger{
	border-color: var(--danger-color)!important;
	border: solid 1px;
}

input[disabled="disabled"] {
	text-color: #B5B5B5!important;
}
