@charset "ISO-8859-1";
@import url("variables.css");

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #363636;
}

::-webkit-scrollbar-thumb {
  background-color: #1A1B1E;
  border-radius: 100px;
}

body, .modal-card-body {
	background-color: var(--bg-color)!important;
	min-height: 100vh
}


#navbar, .navbar-dropdown {
	background-color: var(--navbar-color)!important;
}
.navbar-image{
	padding: 0.5rem;
}

.navbar-item {
	color: white!important;
}

.navbar-item:hover {
	background-color: var(--side-menu-color)!important;
}

#side-menu {
	background-color: var(--side-menu-color)!important;
}

.box, .card, .card-footer, .card-content, .modal-card-head {
	background-color: var(--box-color)!important;
}

.tabs li a{
	border-bottom-color: var(--navbar-color);
}

.footer {
	background-color: var(--box-color)!important;
}

.main-content{
	margin-bottom: 0px!important;
}

input[type="text"] {
	background-color: var(--bg-color);
}


.is-hover-up:hover {
	transfom: translate(0,-5px);
}

.is-hover-darker:hover {
	filter: brightness(85%);
}

.is-clickable {
	cursor: pointer;
}

.has-background-discord {
	background-color: var(--bg-color)!important;
}

.has-border-danger{
	border-color: var(--danger-color)!important;
	border: solid 1px;
}

input[disabled] {
	color: #B5B5B5!important;
}

::placeholder {
  color: #DBDBDB;
}
